{% extends "base.html" %}
{% block content %}
<h1>Systemstatus</h1>


<h2 class="mt-4">Version</h2>
<p>Github Repository: <a href="https://github.com/naschidaniel/spatialMOS" target="_blank" rel="noreferrer">naschidaniel/spatialMOS</a></p>
<p>Systeminfo: <a href="https://github.com/naschidaniel/spatialMOS/commits/master" target="_blank" rel="noreferrer">{{ LASTCOMMIT }}</a></p>
<p>Updatetime: {{ UPDATETIME }}</p>

<h2 class="mt-4">Cronjobs</h2>

<ul class="list-group">
{% for hh, vv in systemstatus_grouped.items %}
  {% if vv %}
    <li class="list-group-item">{{ hh }}</li>
  {% endif %}
  {% for status in vv %}
    <li class="list-group-item">
      <span class="ml-2 badge {{ status.badge.badge_status }} mr-3" style="width:60px;" title="{{ status.task_finished_time|date:'Y-m-d' }} {{status.task_finished_time|time:'H:i'}}">{{ status.badge.status }}</span>
      {{ status.name }}
      <span class="d-none d-md-inline ml-2">
        &ndash; <small class="ml-2">{{ status.task_finished_time|date:'Y-m-d' }} {{status.task_finished_time|time:'H:i'}}</small>
      </span>
    </li>
  {% endfor %}
{% endfor %}
</ul>
{% endblock content %}