# Python Artifacts
__pycache__/
.coverage
*.py[cod]
*$py.class
.mypy_cache

# Python builds
*.whl

# Editor
.vscode

# SpatialMOS
data/
log/
settings.json

# Environment
.env

# Datafiles
*.tar.gz
*.Rdata
*.h5
*.sqlite3

# Shellscripts for testing
*.sh

# Nginx
.well-known

# Website
node_modules/
yarn-error.log
website/dist

# Rust
/target

# Testdata
*.idx

## Shapefiles
gadm36_AUT_shp
gadm36_AUT_shp.zip

# Image-Optimizer
image-optimizer