# Python Artifacts
__pycache__/
*.py[cod]
*$py.class

# Docker Certs
fabric/cert/ca.pem
fabric/cert/cert.pem
fabric/cert/key.pem

# Editor
.vscode

# SpatialMOS
data/
log/
settings.json

# Environment
.env

# Datafiles
*.tar.gz
*.Rdata
*.h5
*.sqlite3

# Shellscripts for testing
*.sh
