cython
cfgrib
geos
matplotlib
numpy
pandas
pyproj
pyshp
pytz
pytest
pytest-cov
requests
scipy
shapely --no-binary shapely
spatial_rust_util-0.1.1-cp39-cp39-linux_x86_64.whl
xarray
wheel