<footer class="page-footer font-small text-center blue mt-4">
  <span class="footer-copyright py-3">©
    <a href="https://moses.tirol/">MOSes.tirol</a>
  </span>
  <span> ‒ </span>
  <span class="py-3">
    <a href="/impressum">Impressum</a>
  </span>
  <span> ‒ </span>
  <span class="py-3">
    <a href="/dsvgo">DSVGO</a>
  </span>
  <span> ‒ </span>
  <span class="py-3">
    Systeminfo: <a href="https://github.com/naschidaniel/spatialMOS" target="_blank">{{ LASTCOMMIT }}</a>
  </span>
  
</footer>